
body {
    font-family: Arial, serif;
    color: #555;
}

h1 {
    font-size: 88px;
    margin: 150px 0 0 0;
}
@media (min-width: 1250px) {
    .row {
        display: flex;
    }
}

.column {
    flex: 40%;
    padding: 5px;
}

h2 {
    margin: 50px 0 0 0;
}

h3 {
    margin: 25px 0 0 0;
}

h1, h2, h3, p, div {
    text-align: center;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

a {
    color: #333;
    text-decoration-color: #c9bb97;
    text-decoration-thickness: from-font;
}

.list a:before {
    content: "|";
    color: gray;
    padding: 10px;
}
.list a:first-child {
    font-weight: bold;
}
.list a:first-child:before {
    content: ""
}

a:focus, a:hover, a:active {
    color:#000;
    text-decoration: none;
}

.sep::before {
    content: "|";
    color: gray;
    padding: 4px;
}

.qr_code {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
